/* Page styles */
.container-fluid {
  padding: 0 5px;
}

/* Navbar styles */
.navbar-brand {
  padding: 0;
  margin: 0;
}

.logo {
  height: 80%;
  padding-left: 15px;
}

.ny-map {
  height: 20%;
  padding-left: 15px;
}

.title-text {
  display: inline-block;
  vertical-align: middle;
  line-height: 100%;
  height: 50px;
  padding-right: 10px;
  color:black;
}

.tab-title {
  text-align: center;
  color:black;
  padding:-5px;
}

.leaflet-container {
  height:100%;
}

.footer {
  margin-left:0;
  margin-right:0;
  margin-bottom:0;
  font-size:12px;
  color:black;
}


.navbar-nav .li a {
  padding-left:10px;
  padding-right:10px;
}

.map-title {
    width: 80%;
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
}

.leaflet-container {
  background:none;
}

.well {
  background-color: #dddddd;
}

@media screen and (min-width:1085px){
  .title-text {
    height: 70px;
  }
}

